PORT=3000
NODE_ENV=development
MONGO_URI=mongodb+srv://ajit123:ajit123@reactnative.ky2pd.mongodb.net/myFirstDatabase?retryWrites=true&w=majority
JWT_SECRET=userNewsApp
api_host=https://news-app-native.herokuapp.com
